body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 2rem;
    background: #090C9B;
    color: white;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #090C9B;
    color: white;
}